
.default-form {
    margin: 25px;
    display: block;  
}

.default-formRow {
    padding-top: 25px;
}

.default-heading {
    padding-top: 25px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.default-label-container
{

}
.default-label {
    font-weight: bold;
    color: orangered;
    font-size: 20px;
}
.default-label-text{
    padding-left:10px;
    font-size: 20px;
    color:gray
}