.loginPanel {
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 2px lightgray;
}


.help-hidden {
    visibility: hidden;
}

.help-visible {
    visibility: visible;
}


.buttonAlignRight {
    text-align: right;
 }